<mat-toolbar>
  <span>Logo</span>
  <span class="example-spacer"></span>
  <a class="mat-button">Category</a>
  <a class="mat-button">Resume</a>
  <a class="mat-button">Courses</a>
  <a class="mat-button">My Wife</a>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with payments icon">
    <mat-icon>payments</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with person icon">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
