
<mat-slide-toggle #slide formControlName="enabled">
  <span>{{slide.checked?'.NET':'ANGULAR'}}</span>
</mat-slide-toggle>
<div class="flex-column">
    <mat-card class="example-card column-item">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img class="size-image-profile" src="../../../../assets/images/Profile.jpg" alt="Profile image">
        </div>
        <mat-card-title>Injeção de Dependência</mat-card-title>
        <mat-card-subtitle>João Assumpção</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
           sed do eiusmod tempor incididunt ut labore et dolore magna
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card column-item">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img class="size-image-profile" src="../../../../assets/images/Profile.jpg" alt="Profile image">
        </div>
        <mat-card-title>Quick Sort com C#</mat-card-title>
        <mat-card-subtitle>João Assumpção</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
           sed do eiusmod tempor incididunt ut labore et dolore magna
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card column-item">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img class="size-image-profile" src="../../../../assets/images/Profile.jpg" alt="Profile image">
        </div>
        <mat-card-title>Binary Search com C#</mat-card-title>
        <mat-card-subtitle>João Assumpção</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
           sed do eiusmod tempor incididunt ut labore et dolore magna
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
</div>


